.cardContainer{
  justify-content: center;
  display: grid;
  padding: 1em;
  column-gap: 5%;
  grid-template-columns: 45% 45%;
  row-gap: 3em;
}
@media screen and (max-width: 800px)  {
  .cardContainer{
    grid-template-columns: 95% ;
  }
}