@media screen and (max-width: 600px)  {


  .main__title{
      flex-direction: column;
      align-items: center;
      padding: 1em;
  }
  .launchCard{
      box-shadow:none; 
  }
  .launchCard:hover{
      box-shadow:none;
  }
}